.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  padding-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-media {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 400px;
  /* might have to change above to max-width */
  margin: 20px;
  /* padding-bottom: 10px; */
}

.filters {
  margin-bottom: 10px;
}

.expanded-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: auto;
  /* might have to change above to max-width */
  margin: 20px;
  /* padding-bottom: 10px; */
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ingredients-accordion {
  width: "100%";
}
